section.container#blockquotes
  if (!isHome)
    include carbonads.pug
  h3.title
    | Blockquotes
  p.description
    | The Blockquote represents a section that is quoted from another source.
  div.example
    blockquote
      p
        em Yeah!! Milligram is amazing.
  pre.code.prettyprint.lang-html
    code.code-content
      | <blockquote>
      |   <p><em>Yeah!! Milligram is amazing.</em></p>
      | </blockquote>
  if (isHome)
    p
      | See more examples of
      = ' '
      a(href='blockquotes.html' title='Blockquotes') blockquotes
      | .
