section.container#browser-support
	h5.title
		| Browser Support
	p.description
		| While not designed for old browsers, Milligram has support for some old versions, but we recommend using the latest versions of their browsers.
	div.example
		ul
			li Chrome
				= ' '
				small latest
			li Edge
				= ' '
				small latest
			li Firefox
				= ' '
				small latest
			li IE
				= ' '
				small latest
			li Opera
				= ' '
				small latest
			li Safari
				= ' '
				small latest
	p
		| See more examples of
		= ' '
		strong browser support
		= ' '
		a(href='browser-support.html' title='Examples about browser support') here
		| .
