section.container#browser-support
  if (!isHome)
    include carbonads.pug
  h3.title
    | Browser Support
  p.description
    | While not designed for old browsers, Milligram has support for some old versions, but we recommend using the latest versions of their browsers.
  div.example
    ul
      li Brave
        = ' '
        small latest
      li Chrome
        = ' '
        small latest
      li Edge
        = ' '
        small latest
      li Firefox
        = ' '
        small latest
      li Opera
        = ' '
        small latest
      li Safari
        = ' '
        small latest
  if (isHome)
    p
      | See more examples of
      = ' '
      a(href='browser-support.html' title='Browser Support') browser support
      | .
