section.container#codes
	if (!home)
		include carbonads.pug
	h3.title
		| Codes
	p.description
		| The Code element represents a fragment of computer code. Just wrap anything in a
		= ' '
		code code
		= ' '
		| and it will appear like this. if you need a block, by default, enter the
		= ' '
		code code
		= ' '
		| within the
		= ' '
		code pre
		| element.
	div.example
		pre
			code
				| .milligram {
				|   color: #9b4dca;
				| }
	pre.code.prettyprint
		code.code-content
			| <pre><code>
			| .milligram {
			|   color: #9b4dca;
			| }
			| </code></pre>
	if (home)
		p
			| See more
			= ' '
			strong code
			= ' '
			| examples 
			a(href='codes.html' title='Examples about codes') here
			| .
