section.container#forms
  if (!isHome)
    include carbonads.pug
  h3.title
    | Forms
  p.description
    | The Form has never been exactly fun, and it can be downright painful on a mobile device with its on-screen keyboard. Milligram helps to make this much easier with design focused on the user experience.
  div.example
    form(action='javascript: void(0)')
      fieldset
        label(for='nameField') Name
        input#nameField(type='text' placeholder='CJ Patoilo')
        label(for='ageRangeField') Age Range
        select#ageRangeField
          option(value='0-13') 0-13
          option(value='14-17') 14-17
          option(value='18-23') 18-23
          option(value='24+') 24+
        label(for='commentField') Comment
        textarea#commentField(placeholder='Hi CJ …')
        div.float-right
          input#confirmField(type='checkbox')
          = ' '
          label.label-inline(for='confirmField') Send a copy to yourself
        input.button-primary(type='submit' value='Send')
  pre.code.prettyprint.lang-html
    code.code-content
      | <form>
      |   <fieldset>
      |     <label for="nameField">Name</label>
      |     <input type="text" placeholder="CJ Patoilo" id="nameField">
      |     <label for="ageRangeField">Age Range</label>
      |     <select id="ageRangeField">
      |       <option value="0-13">0-13</option>
      |       <option value="14-17">14-17</option>
      |       <option value="18-23">18-23</option>
      |       <option value="24+">24+</option>
      |     </select>
      |     <label for="commentField">Comment</label>
      |     <textarea placeholder="Hi CJ …" id="commentField"></textarea>
      |     <div class="float-right">
      |       <input type="checkbox" id="confirmField">
      |       <label class="label-inline" for="confirmField">Send a copy to yourself</label>
      |     </div>
      |     <input class="button-primary" type="submit" value="Send">
      |   </fieldset>
      | </form>
      = '\n\n'
      | /* Always wrap checkbox and radio inputs in a label and use a `.label-inline` inside of it */
  if (isHome)
    p
      | See more examples of
      = ' '
      a(href='forms.html' title='Forms') forms
      | .
