header.header#home
	section.container
		img.img(src='images/logo.svg' alt='Milligram' title='Milligram')
		h1.title
			| Milligram
		p.description
			| A minimalist CSS framework
		a.button(href='#getting-started' title='Getting Started') Getting Started
		div.carbonads.carbonads-home
			| <script id='_carbonads_js' src='https://cdn.carbonads.com/carbon.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=milligramgithubio' async defer></script>
