if (!isHome)
  section.container#showcase
    include carbonads.pug
    h3.title
      | Showcase
    p.description
      | Meet some fast and clean websites designed with Milligram, curated by
      = ' '
      a(href='https:/twitter.com/cjpatoilo' rel='noopener' target='_blank' title=author) @cjpatoilo
      | .
    div.example
      div.row
        div.column
          h6 Airform
            br
            small Functional HTML forms for Front-End Developers.
          a(href='https://airform.io' rel='noopener' target='_blank' title='Airform - Functional HTML forms for Front-End Developers.')
            img.image--showcase(src='https://i.imgur.com/Y1gi8pA.png' alt='Airform - Functional HTML forms for Front-End Developers.')
      br
      br
      div.row
        div.column
          h5 Chalkboard
            br
            small Share your code and collaborate with developers around the world.
          a(href='https://chalkboard.space' rel='noopener' target='_blank' title='Chalkboard - Share your code and collaborate with developers around the world.')
            img.image--showcase(src='https://i.imgur.com/5dikYRC.png' alt='Chalkboard - Share your code and collaborate with developers around the world.')
      br
      br
      div.row
        div.column
          h5 QEdu
            br
            small Use data. Transform education.
          a(href='https://qedu.io' rel='noopener' target='_blank' title='QEdu - Use data. Transform education.')
            img.image--showcase(src='https://i.imgur.com/aJdBwKY.png' alt='QEdu - Use data. Transform education.')
        div.column
          h5 Escolas do Amanhã
            br
            small Rio de Janeiro project that bets on the future.
          a(href='http://www.escolasdoamanha.com.br' rel='noopener' target='_blank' title='Escolas do Amanhã - Rio de Janeiro project that bets on the future.')
            img.image--showcase(src='https://i.imgur.com/vNjaR56.png' alt='Escolas do Amanhã - Rio de Janeiro project that bets on the future.')
      br
      br
      div.row
        div.column
          h5 The Node.js Foundation
            br
            small Kicking off a series of global events bringing together local Node.js developers around the world.
          a(href='https://live.nodejs.org' rel='noopener' target='_blank' title='The Node.js Foundation - Kicking off a series of global events bringing together local Node.js developers around the world.')
            img.image--showcase(src='https://i.imgur.com/hUHK7a2.png' alt='The Node.js Foundation - Kicking off a series of global events bringing together local Node.js developers around the world.')
      br
      br
      div.row
        div.column
          h5 Phoenix Framework
            br
            small A productive web framework tha does not compromise speed or maintainability.
          a(href='https://phoenixframework.org' rel='noopener' target='_blank' title='Phoenix Framework - A productive web framework that does not compromise speed or maintainability.')
            img.image--showcase(src='https://i.imgur.com/h4hEUzf.png' alt='Phoenix Framework - A productive web framework that does not compromise speed or maintainability.')
      br
      br
      div.row
        div.column
          h5 BEM | Block Element Modifier
            br
            small Methodology that helps you to create reusable components.
          a(href='https://getbem.com' rel='noopener' target='_blank' title='BEM | Block Element Modifier - Methodology that helps you to create reusable components.')
            img.image--showcase(src='https://i.imgur.com/OIb2R6U.png' alt='BEM | Block Element Modifier - Methodology that helps you to create reusable components.')
        div.column
          h5 American Giant
            br
            small American Made Apparel &amp; Active Wear.
          a(href='https://american-giant.com' rel='noopener' target='_blank' title='American Giant - American Made Apparel &amp; Active Wear.')
            img.image--showcase(src='https://i.imgur.com/dPna2pU.png' alt='American Giant - American Made Apparel &amp; Active Wear.')
      br
      hr
      br
      div.showcase-share
        p
          | Did you design a fast and clean website with
          = ' '
          strong Milligram
          = ' '
          | too?
        a.button.button--twitter(href='https://twitter.com/intent/tweet?text=Made%20with%20Milligram!&hashtags=milligram,css&url=https://milligram.io' rel='noopener' target='_blank' title='Tell us about it!')
          svg.icon.icon--twitter(viewBox='0 0 512 512')
            g
              path(d='M512,100c0,1,0,2,0,3c-0.286,0.144-0.678,0.213-0.843,0.444c-12.988,18.134-28.416,33.907-45.899,47.727c-1.117,0.883-2.077,2.606-2.191,4.012c-0.803,9.932-1.033,19.92-2.083,29.822c-1.466,13.833-2.476,27.829-5.44,41.37c-14.968,68.364-47.628,126.547-101.357,172.138c-38.719,32.854-83.248,53.526-133.219,62.461c-8.297,1.483-16.643,2.691-24.966,4.027c-21.667,0-43.333,0-65,0c-6.005-0.986-12-2.043-18.017-2.947c-38.1-5.724-73.019-20.017-106.071-39.338c-1.137-0.664-2.119-1.592-3.174-2.396c0.036-0.494,0.072-0.988,0.108-1.482c55.033,4.465,105.085-8.256,149.475-42.204c-45.885-6.43-78.15-29.625-94.769-73.517c5.615,0,10.368,0.022,15.12-0.006c4.832-0.029,9.677,0.091,14.492-0.223c4.535-0.295,9.04-1.07,13.558-1.634c-59.936-17.467-83.246-74.124-78.912-104.888c13.575,6.847,27.734,11.166,43.121,11.612c-20.952-16.59-35.308-37.341-40.662-63.445c-5.325-25.967-2.189-50.979,11.493-75.753c57.54,65.903,128.3,104.011,215.511,109.404c0-14.21-1.604-27.562,0.309-40.389c5.197-34.848,24.9-60.248,55.821-76.352C318.775,56.04,330.755,53.726,342,50c8.667,0,17.333,0,26,0c0.753,0.291,1.497,0.808,2.261,0.839c10.134,0.412,19.371,4.007,28.571,7.834c10.89,4.53,20.224,11.34,28.906,19.186c3.154,2.85,6.411,4.546,11.24,3.473c17.612-3.914,33.97-11.042,50.23-18.523c3.07-1.413,6.197-2.702,10.545-4.59c-8.316,23.453-22.797,40.565-40.623,55.441C477.73,112.015,494.891,106.107,512,100z')
          | Share your website


if (isHome)
  section#showcase.showcase-hero
    div.container
      h3.title
        | Who’s using Milligram
      p.description
        | Check out how people using Milligram to design fast and clean websites
      div.example
        div.row
          div.column
            h5 Airform
            a(href='/showcase.html' title='Showcase')
              img.image--showcase(src='https://i.imgur.com/Y1gi8pA.png' alt='Airform - Functional HTML forms for Front-End Developers.')
          div.column
            h5 The Node.js Foundation
            a(href='/showcase.html' title='Showcase')
              img.image--showcase(src='https://i.imgur.com/hUHK7a2.png' alt='The Node.js Foundation - Kicking off a series of global events bringing together local Node.js developers around the world.')
      br
      br
      div.showcase-share
        p
          | Did you design a fast and clean website with
          = ' '
          strong Milligram
          = ' '
          | too?
        a.button.button--twitter(href='https://twitter.com/intent/tweet?text=Made%20with%20Milligram!&hashtags=milligram,css&url=https://milligram.io' rel='noopener' target='_blank' title='Tell us about it!')
          svg.icon.icon--twitter(viewBox='0 0 512 512')
            g
              path(d='M512,100c0,1,0,2,0,3c-0.286,0.144-0.678,0.213-0.843,0.444c-12.988,18.134-28.416,33.907-45.899,47.727c-1.117,0.883-2.077,2.606-2.191,4.012c-0.803,9.932-1.033,19.92-2.083,29.822c-1.466,13.833-2.476,27.829-5.44,41.37c-14.968,68.364-47.628,126.547-101.357,172.138c-38.719,32.854-83.248,53.526-133.219,62.461c-8.297,1.483-16.643,2.691-24.966,4.027c-21.667,0-43.333,0-65,0c-6.005-0.986-12-2.043-18.017-2.947c-38.1-5.724-73.019-20.017-106.071-39.338c-1.137-0.664-2.119-1.592-3.174-2.396c0.036-0.494,0.072-0.988,0.108-1.482c55.033,4.465,105.085-8.256,149.475-42.204c-45.885-6.43-78.15-29.625-94.769-73.517c5.615,0,10.368,0.022,15.12-0.006c4.832-0.029,9.677,0.091,14.492-0.223c4.535-0.295,9.04-1.07,13.558-1.634c-59.936-17.467-83.246-74.124-78.912-104.888c13.575,6.847,27.734,11.166,43.121,11.612c-20.952-16.59-35.308-37.341-40.662-63.445c-5.325-25.967-2.189-50.979,11.493-75.753c57.54,65.903,128.3,104.011,215.511,109.404c0-14.21-1.604-27.562,0.309-40.389c5.197-34.848,24.9-60.248,55.821-76.352C318.775,56.04,330.755,53.726,342,50c8.667,0,17.333,0,26,0c0.753,0.291,1.497,0.808,2.261,0.839c10.134,0.412,19.371,4.007,28.571,7.834c10.89,4.53,20.224,11.34,28.906,19.186c3.154,2.85,6.411,4.546,11.24,3.473c17.612-3.914,33.97-11.042,50.23-18.523c3.07-1.413,6.197-2.702,10.545-4.59c-8.316,23.453-22.797,40.565-40.623,55.441C477.73,112.015,494.891,106.107,512,100z')
          | Share your website
