section.container#subscribe
  div(class='row row-center')
    div(class='column')
      h3.title
        | Subscribe to our newsletter
      p
        | The latest news and resources sent straight to your inbox.
    div(class='column subscribe-column')
      form(class='row row-center' action='https://airform.io/cjpatoilo@gmail.com' method='post')
        input(class='subscribe-input' type='email' id='email' maxlength='80' name='email' placeholder='Email address' required='')
        button(class='subscribe-button') Subscribe
