section.container#subscribe
	div(class='row row-center')
		div(class='column')
			h3.title
				| Subscribe to our newsletter
			p
				| The latest news and resources sent straight to your inbox.
		div(class='column column-40')
			form(action='https://airform.io/cjpatoilo@gmail.com' class='row' method='post')
				input(type='email' id='email' maxlength='80' name='email' placeholder='Email address' required='' value='')
				button Subscribe
