section.container#tips
  if (!isHome)
    include carbonads.pug
  h3.title
    | Tips
  p.description
    | Tips, techniques, and best practice on using Cascading Style Sheets.
  p
    strong Mobile First
  p
    | The Mobile First is the design strategy that takes priority development for mobile devices like smartphones and tablets. It means all styles outside of a media queries apply to all devices, then larger screens are targeted for enhancement. This prevents small devices from having to parse tons of unused CSS. Milligram use some breakpoints like these:
  div.example
    div.row
      ul
        li Larger than
          = ' '
          strong Mobile
          = ' '
          | screen: 40.0rem
          = ' '
          span.heading-font-size (640px)
        li Larger than
          = ' '
          strong Tablet
          = ' '
          | screen: 80.0rem
          = ' '
          span.heading-font-size (1280px)
        li Larger than
          = ' '
          strong Desktop
          = ' '
          | screen: 120.0rem
          = ' '
          span.heading-font-size (1920px)
  pre.code.prettyprint.lang-css
    code.code-content
      | /* Mobile First Media Queries */
      = '\n\n'
      | /* Base style */
      | { ... }
      = '\n\n'
      | /* Larger than mobile screen */
      | @media (min-width: 40.0rem) { ... }
      = '\n\n'
      | /* Larger than tablet screen */
      | @media (min-width: 80.0rem) { ... }
      = '\n\n'
      | /* Larger than desktop screen */
      | @media (min-width: 120.0rem) { ... }
  p
    strong Embed Font
  p
    strong Milligram
    = ' '
    | uses the
    = ' '
    code font-family
    a(href='https://www.google.com/fonts/specimen/Roboto' title='Roboto by Christian Robertson' target='_blank' rel='noopener')  Roboto
    | , created by
    = ' '
    u Christian Robertson
    | , and provided by Google.
    | Customize your projects using
    = ' '
    a(href='https://fonts.google.com') Google Fonts
    |. To embed your selected fonts into a webpage, copy this code into the <head> of your HTML document.
  pre.code.prettyprint.lang-html
    code.code-content
      | /* Embed Font */
      | <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">
      = '\n\n'
      | /* Use the following CSS rules to specify these families */
      | <style>
      | body {
      |   font-family: 'Roboto Slab', serif;
      | }
      | </style>
  p
    strong Extending The Inheritances
  p
    | The style of an element can be defined in several different locations, which interact in a complex way. It is this form of interaction makes CSS powerful, but it can make it confusing and difficult to debug.
  div.example
    div.row
      div.column
        a.button(href='javascript: void(0)') Default .button
        a.button.button-outline(href='javascript: void(0)') Outlined .button
        a.button.button-clear(href='javascript: void(0)') Clear .button
      div.column
        a.button.button-black(href='javascript: void(0)') .button-black
        a.button.button-black.button-outline(href='javascript: void(0)') .button-black
        a.button.button-black.button-clear(href='javascript: void(0)') .button-black
      div.column.column-20
        a.button.button-small(href='javascript: void(0)') .button-small
        a.button.button-small.button-outline(href='javascript: void(0)') .button-small
        a.button.button-small.button-clear(href='javascript: void(0)') .button-small
      div.column
        a.button.button-large(href='javascript: void(0)') .button-large
        a.button.button-large.button-outline(href='javascript: void(0)') .button-large
        a.button.button-large.button-clear(href='javascript: void(0)') .button-large
  pre.code.prettyprint.lang-css
    code.code-content
      | /* Extending The Inheritances */
      = '\n\n'
      | /* Custom color */
      | .button-black {
      |   background-color: black;
      |   border-color: black;
      | }
      | .button-black.button-clear,
      | .button-black.button-outline {
      |   background-color: transparent;
      |   color: black;
      | }
      | .button-black.button-clear {
      |   border-color: transparent;
      | }
      = '\n\n'
      | /* Custom size */
      | .button-small {
      |   font-size: .8rem;
      |   height: 2.8rem;
      |   line-height: 2.8rem;
      |   padding: 0 1.5rem;
      | }
      = '\n\n'
      | .button-large {
      |   font-size: 1.4rem;
      |   height: 4.5rem;
      |   line-height: 4.5rem;
      |   padding: 0 2rem;
      | }
  if (isHome)
    p
      | See more examples of
      = ' '
      a(href='tips.html' title='Tips') tips
      | .
