section.container#utilities
  if (!isHome)
    include carbonads.pug
  h3.title
    | Utilities
  p.description
    | Milligram has some functional classes to improve the performance and productivity everyday.
  pre.code.prettyprint.lang-html
    code.code-content
      | /* Functional Classes */
      = '\n\n'
      | /* Clear any float  */
      | <div class="clearfix">
      = '\n\n'
      |   /* Float either directions */
      |   <div class="float-left"></div>
      |   <div class="float-right"></div>
      = '\n\n'
      | </div>
  if (isHome)
    p
      | See more examples of
      = ' '
      a(href='utilities.html' title='Utilities') utilities
      | .
