<section class="container" id="buttons"><div class="carbonads"><script id='_carbonads_js' src='https://cdn.carbonads.com/carbon.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=milligramgithubio' async defer></script></div><h5 class="title">Buttons</h5><p class="description">The Button, an essential part of any user experience. Buttons come in three basic styles in Milligram: The <code>button</code> element has flat color by default, whereas <code>.button-outline</code> has a simple outline around, and <code>.button-clear</code> is entirely clear.</p><div class="example"><a class="button" href="javascript: void(0)">Default Button</a> <button class="button button-outline">Outlined Button</button> <input class="button button-clear" type="submit" value="Clear Button"/></div><pre class="code prettyprint"><code class="code-content"><!-- Default Button -->
<a class="button" href="#">Default Button</a>

<!-- Outlined Button -->
<button class="button button-outline">Outlined Button</button>

<!-- Clear Button -->
<input class="button button-clear" type="submit" value="Clear Button">

<!-- Easily apply the .button class for button style in the anchor element. --></code></pre></section>