<section class="container" id="codes"><div class="carbonads"><script id='_carbonads_js' src='https://cdn.carbonads.com/carbon.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=milligramgithubio' async defer></script></div><h5 class="title">Codes</h5><p class="description">The Code element represents a fragment of computer code. Just wrap anything in a <code>code</code> and it will appear like this. if you need a block, by default, enter the <code>code</code> within the <code>pre</code>element.</p><div class="example"><pre><code>.milligram {
  color: #9b4dca;
}</code></pre></div><pre class="code prettyprint"><code class="code-content"><pre><code>
.milligram {
  color: #9b4dca;
}
</code></pre></code></pre></section>