<section class="container" id="tables"><div class="carbonads"><script id='_carbonads_js' src='https://cdn.carbonads.com/carbon.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=milligramgithubio' async defer></script></div><h5 class="title">Tables</h5><p class="description">The Table element represents data in two dimensions or more. We encourage the use of proper formatting with <code>thead</code> and <code>tbody</code> to create a <code>table</code>. The code becomes cleaner without disturbing understanding.</p><div class="example"><table><thead><tr><th>Name</th><th>Age</th><th>Height</th><th>Location</th></tr></thead><tbody><tr><td>Stephen Curry</td><td>27</td><td>1,91</td><td>Akron, OH</td></tr><tr><td>Klay Thompson</td><td>25</td><td>2,01</td><td>Los Angeles, CA</td></tr></tbody></table></div><pre class="code prettyprint"><code class="code-content"><table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Height</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stephen Curry</td>
      <td>27</td>
      <td>1,91</td>
      <td>Akron, OH</td>
    </tr>
    <tr>
      <td>Klay Thompson</td>
      <td>25</td>
      <td>2,01</td>
      <td>Los Angeles, CA</td>
    </tr>
  </tbody>
</table>

<!-- Prior to the creation of CSS, HTML <table> elements were often used as a method for page layout. This usage has been discouraged since HTML4, and the <table> element should not be used for layout purposes. --></code></pre></section>