<section class="container" id="utilities"><div class="carbonads"><script id='_carbonads_js' src='https://cdn.carbonads.com/carbon.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=milligramgithubio' async defer></script></div><h5 class="title">Utilities</h5><p class="description">Milligram has some functional classes to improve the performance and productivity everyday.</p><pre class="code prettyprint"><code class="code-content"><!-- Functional Classes -->

<!-- Clear any float  -->
<div class="clearfix">

  <!-- Float either directions -->
  <div class="float-left"></div>
  <div class="float-right"></div>

</div></code></pre></section>