extends layout.pug

block title

      title Grids | Milligram - A minimalist CSS framework

block content

  include templates/grids.pug

  section.container
    h3.title
      | Column widths
    p.description
      | The Grid system also supports specifying column widths as a ratio of the parent row's width. Append one of the percentages listed below to a column- class to achieve the desired layout.
    div.example
      div.container
        div.row
          div.column.column-10
            span.column-demo 10%
        div.row
          div.column.column-20
            span.column-demo 20%
        div.row
          div.column.column-25
            span.column-demo 25%
        div.row
          div.column.column-33
            span.column-demo 33%
        div.row
          div.column.column-40
            span.column-demo 40%
        div.row
          div.column.column-50
            span.column-demo 50%
        div.row
          div.column.column-60
            span.column-demo 60%
        div.row
          div.column.column-67
            span.column-demo 67%
        div.row
          div.column.column-75
            span.column-demo 75%
        div.row
          div.column.column-80
            span.column-demo 80%
        div.row
          div.column.column-90
            span.column-demo 90%
        div.row
          div.column
            span.column-demo 100%
    pre.code.prettyprint.lang-html
      code.code-content
        | <div class="container">
        = '\n\n'
        |   <div class="row">
        |     <div class="column column-10">10%</div>
        |   </div>
        = '\n\n'
        |   <div class="row">
        |     <div class="column column-20">20%</div>
        |   </div>
        = '\n\n'
        |   <div class="row">
        |     <div class="column column-25">25%</div>
        |   </div>
        = '\n\n'
        |   <div class="row">
        |     /* .column-33 or .column-34 both work for 1/3 column width */
        |     <div class="column column-33">33%</div>
        |   </div>
        = '\n\n'
        |   <div class="row">
        |     <div class="column column-40">40%</div>
        |   </div>
        = '\n\n'
        |   <div class="row">
        |     <div class="column column-50">50%</div>
        |   </div>
        = '\n\n'
        |   <div class="row">
        |     <div class="column column-60">60%</div>
        |   </div>
        = '\n\n'
        |   <div class="row">
        |     /* .column-66 or .column-67 both work for 2/3 column width */
        |     <div class="column column-67">67%</div>
        |   </div>
        = '\n\n'
        |   <div class="row">
        |     <div class="column column-75">75%</div>
        |   </div>
        = '\n\n'
        |   <div class="row">
        |     <div class="column column-80">80%</div>
        |   </div>
        = '\n\n'
        |   <div class="row">
        |     <div class="column column-90">90%</div>
        |   </div>
        = '\n\n'
        |   <div class="row">
        |     <div class="column">100%</div>
        |   </div>
        | </div>
