extends layout.pug

block title

      title Milligram - A minimalist CSS framework

block content

  - const isHome = true

  include templates/home.pug

  include templates/showcase.pug

  include templates/why.pug

  include templates/getting-started.pug

  include templates/typography.pug

  include templates/blockquotes.pug

  include templates/buttons.pug

  include templates/lists.pug

  include templates/forms.pug

  include templates/tables.pug

  include templates/grids.pug

  include templates/code.pug

  include templates/utilities.pug

  include templates/tips.pug

  include templates/browser-support.pug
